
#docTitle {
    margin-bottom: 0;  
    padding-bottom: 0;  
}

#descriptionHeader {
    font-size: 16px;          /* Adjust size */
    color: #555;              /* Text color */
    margin-top: 0px;          /* Small spacing below the h1 */
    font-style: italic;       /* Optional: italic style */
    padding-bottom: 40px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

h1, h3, h4 {
    color: #2c3e50;
}

ul {
    margin-bottom: 20px;
}

code {
    cursor: pointer;
    background-color: #dddddd;
    padding: 2px 5px;
    border-radius: 8px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.showSnippet {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0 20px 0;
    font-family: monospace;
    white-space: pre-wrap;
    display: none; /* hidden until clicked */
}

